* {
    margin: 0;
    padding: 0;
    
}
.cabecalho {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    background-color: #fafaf1;
}
.cabecalho img {
    width: 100px;
    
}
.cabecalho ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.cabecalho ul li {
    margin-inline: 10px;
    list-style: none;


}
.cabecalho button {
    padding: 12px 5px;
    border: none;
    border-radius: 20px;
    background-color:#00bf63;
    width: 200px;
}
.bloco-principal {
    display: flex;
    height: 100vh;
    align-items: center;


}
.bloco-principal .coluna1 {
    width: 20%;
    background-color: #388e3c;
    height: 100vh;
}
.bloco-principal .coluna3 {
    width: 20%;
    background-color: #d32f2f;
    height:100vh;

}
.bloco-principal .coluna2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.bloco-principal .coluna2 h1 {
    font-size: 70px;
    letter-spacing: 8px;

}
.bloco-principal .coluna2 button {
    background-color: #440005;
    color: #fff;
    font-size: 20px;
    padding: 15px 15px;
    border: none;


}
.bloco-principal .coluna2 p {
    font-size: 25px;
}
.bloco-principal .coluna2 .grupo-botoes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.bloco-principal .coluna2 .grupo-botoes .botao-vinho {
    border-radius: 20px;
}
.bloco-principal .coluna2 .grupo-botoes .botao-verde {
    background-color: #388e3c;
    border-radius: 20px;
}

